/*RESPONSIVE DESIGN*/
body{
    background-color: aliceblue;
    width:100%;
}
#links a span{
    font-size:0.9em;
    font-weight:600;
}
#links .kontakt span{
    text-decoration: underline;
  
}
#links a:hover{
    color:#D587C8;
}
#top-bar{
    background: #efeffc;
    position: relative;
    width: 100%;
    line-height: 0px;
    height: 100px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
#bottomtop-bar{
    background:black;
    position:absolute;
    height:5px;
    width:100%;
    top:100%;
}
#wiese{
    text-align: center;
    position:relative;
    top:20px;
}
#wiese img{
    border-style:solid;
    border-width: 0.03em;
}
#bot-bar{
    background:#efeffc;
    position:relative;
    top:560px;
    width: 100%;
    height:75px;
}
#bottombot-bar{
    width:100%;
    background:black;
    height:3px;
}
#header{
    position:absolute;
    color:darkgray;
    left:10%;
    top:0%;
}
#picture{
    position:absolute;
    left:130px;
    top:53px;
} 
#top-bar p{
    font-family:Garamond, serif;
    font-size:1.1em;
} 
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
   
#links a{
    position:relative;
    font-size:0.6em;
    left:60%;
    top:50px;
    color:black;
}
@media (max-width:520px){
    #top-bar{height: 175px;}
    #links a{position:absolute;}
    #links {position:absolute;left:0px;}
    .home span{
      position:relative;
      top: 50px;
      left: 50px;
    }
    .kontakt span{
      position:relative;
      top: 70px;
      left:50px;
    }
    .info span{
      position:relative;
      top: 90px;
      left:50px;
    }
    .anreise span{
      position:relative;
      top: 110px;
      left:50px;
    }
}
@media (max-width:1220px){
    #links a{
      left:50%;
    }
}
@media (max-width:860px){
    #links a{
      left:42%;
    }
}
  
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

#data{
  text-align:left;
  position:relative;
  top:40px;
  border-style: solid;
  border-color: grey;
  border-width:0.15em;
  padding-left:15px;
  padding-right:15px;
  margin-left:38%;
  margin-right:38%;
  background-color: #efeffc;
}
#data h1{
  position:relative;
  font-weight: bold;
  font-family: Verdana;
  font-size:1.6em;
  margin-bottom:0px;
}
#data h2{
  position:relative;
  font-weight: bolder;
  font-family: Verdana;
  font-size:1.2em;
  margin-top:0px;
  margin-bottom:0px;
}
#data p{
  position:relative;
  margin-top:0px;
  font-family: Verdana;
  font-size:1em;
}
#data p #linkanreise{
  font-style:italic;
  text-decoration: underline;
}
#skiboedele{
  position:absolute;
  left: 2%;
  margin-top: 40px;
}
#skiboedele p{
  margin-top:0px;
  text-align: center;
  font-family: Verdana;
}
#skiboedele img{
  border-width: 0.03em;
  border-color:black;
  border-style:solid;
  padding:0px;
}
#niedere{
  position:absolute;
  right:2%;
  margin-top:40px;
}
#niedere p{
  margin-top:0px;
  text-align: center;
  font-family: Verdana;
}
#niedere img{
  border-width: 0.03em;
  border-color:black;
  border-style:solid;
  padding:0px;
}
#marktplatz{
  position:absolute;
  left:2%;
  margin-top:340px;
}
#marktplatz p{
  margin-top:0px;
  text-align: center;
  font-family: Verdana;
}
#marktplatz img{
  border-width: 0.03em;
  border-color:black;
  border-style:solid;
  padding:0px;
}
#bregenzerach{
  position:absolute;
  right:2%;
  margin-top:340px;
}
#bregenzerach p{
  margin-top:0px;
  text-align: center;
  font-family: Verdana;
}
#bregenzerach img{
  border-width: 0.03em;
  border-color:black;
  border-style:solid;
  padding:0px;
}
#line{
  position:relative;
  top:200px;
  left:30%;
  right:30%;
  width:40%;
  height:0.06em;
  background:#2C2C2C;
}
#vline1{
  position:absolute;
  top:300px;
  left:25%;
  width:1px;
  height:540px;
  background:#2C2C2C;
}
#vline2{
  position:absolute;
  top:300px;
  right:25%;
  width:1px;
  height:540px;
  background:#2C2C2C;
}

#avatarslide{
  position:relative;
  top:140px;
}
.container {
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card-wrapper {
  width: 400px;
  height: 500px;
  left:25%;
  position: absolute;
}
.card-wrapper2{
  width: 400px;
  height: 500px;
  right:25%;
  position: absolute;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; /* größe ändern + in div card image*/
  height: 300px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}
.card .card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: 0.5s;
}
.card:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.card:hover .card-image {
  transform: translateY(-40px);
  transition: all 0.9s;
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: 0.2s;
}
.social-icons li a:hover .fab {
  color: #fff;
}

.social-icons li a .fab {
  transition: 0.8s;
}
.social-icons li a .fab:hover {
  transform: rotateY(360deg);
  color: #fff;
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100px;
  z-index: 1;
  padding: 10px;
}
.details h2 {
  position:relative;
  margin: 30px 0;
  top:25px;
  padding: 0;
  text-align: center;
  font-size:1em;
  font-family: Verdana;
}

@media (max-width:1400px){
  #vline1{
    visibility: hidden;
  }
  #vline2{
    visibility: hidden;
  }

}